version: '3.8'

services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile

    volumes:
      - ../:/workspaces/${LOCAL_WORKSPACE_FOLDER_BASENAME}:cached

    # Mantiene el contenedor activo para Dev Containers
    command: sleep infinity

    # Une app y db en la misma red interna (recomendado)
    networks:
      - devnet

    depends_on:
      - db

  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgresadmin
      POSTGRES_PASSWORD: V7uebb$VQMuUB9XQ
      POSTGRES_DB: development_django

    volumes:
      - postgres-data:/var/lib/postgresql/data

    networks:
      - devnet

volumes:
  postgres-data:

networks:
  devnet:
    driver: bridge